@model IEnumerable<lamlai_web_dulich.Models.LoaiTour>

@{
    ViewBag.Title = "DanhSach";
    Layout = "~/Areas/Admin/Views/Shared/layoutadmin.cshtml";
}


<div class="row">
    <div class="col-md-12" style="padding-top:50px">
        <h2 style="color:blue;
            background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            background-size: 400% 400%;
            animation: gradient 15s ease infinite; padding: 15px 20px ">
            DANH SÁCH LOẠI TOUR
        </h2>

        <p>
            <button type="button" class="btn btn-info">
                <a href="~/Admin/LoaiTour/ThemMoi">Thêm Mới</a>
            </button>

        </p>
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ten)
                </th>
                <th>TOOL</th>
                <th>TOOL</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ten)
                    </td>
                    <td>
                        <a href="~/Admin/LoaiTour/CapNhat?idLoaiTour=@item.ID"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </td>
                    <td>
                        <a href="#" style="color:red" onclick="if (confirm('ban co muon xoa khong') == true) { location.href = '/Admin/LoaiTour/Xoa?idLoaiTour=@item.ID' }"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }

        </table>

    </div>
</div>

